body{
    background-color:rgb(241, 241, 232);
}
.inconsolata-uniquifier {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }
.container-fluid{
    margin: 5px;
}

.container{
    margin: 10px;
}
.row{
    padding: 15px;
}